<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div>
                <h2>ALTA DE PRODUCTO</h2>
                <h6>( RECUERDE! Primero debe crear Artistas/Géneros si no están en los menúes desplegables )</h6>

            </div>
            <div>
                <br>
                <% if (locals.errores) { %>
                    <% errores.forEach(e => { %>
                        <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= e.msg %></p>
                    <% } )%>
                <% }%>

                <% if (locals.msje && locals.type == 'S') { %>
                        <p class="success_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= locals.msje %></p>
                    <% } else {%>
                        <% if (locals.msje && locals.type == 'E') { %>
                            <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= locals.msje %></p>  
                        <% }%>
                <% }%>
                <!-- <% if (locals.errores) { %>
                    <% errores.forEach(e => { %>
                        <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= e.msg %></p>
                        <br>
                    <% } )%>
                <% }%>

                <% if (locals.msje) { %>
                    <p class="success_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= locals.msje %></p>
               <% }%> -->
                
               <form action="/altaProducto" method="POST" enctype="multipart/form-data" class="form_reg_alta_producto"> 
                    <label for="nombreArtista">Nombre Artista*</label>
                    <select name="nombreArtista">
                        <option disabled selected value> -- Selccione un artista -- </option>
                        <% artistas.forEach( a => { %>
                        <option value="<%= locals.prev && prev.id ? prev.id : a.id %>"><%= a.nombre_artista %></option>
                        <% } )%>
                    </select>
                    <br>
                    <label for="nombreDisco">Nombre del Disco*</label>
                    <input type="text" name="nombreDisco" value="<%= locals.prev && prev.nombreDisco ? prev.nombreDisco : '' %>" >
                    <br>
                    <label for="">Género*</label>
                    <select name="categoria">
                        <option disabled selected value> -- Selccione un género -- </option>
                        <% generos.forEach( e => { %>
                        
                        <option value="<%= e.id%>"><%= e.titulo %></option>
                        <!--<option value="Jazz">Jazz</option>
                        <option value="Pop">Pop</option>
                        <option value="Blues">Blues</option>
                        <option value="Electronica">Electrónica</option>
                        <option value="nuevo">Nuevo Genero</option>-->
                        <% } )%>
                    </select>
                    
                    <br>
                    <label for="">Precio*</label>
                    <input type="text" name="precio" value="<%= locals.prev && prev.precio ? prev.precio : '' %>" >
                    <br>
                    <label for="">% de Descuento (si aplica)</label>
                    <input type="text" name="oferta" value="<%= locals.prev && prev.oferta ? prev.oferta : '' %>" >
                    <br>
                    <label for="">Stock*</label>
                    <input type="text" name="stock" value="<%= locals.prev && prev.stock ? prev.stock : '' %>" >
                    <br>
                    <label for="">SKU*</label>
                    <input type="text" name="sku" value="<%= locals.prev && prev.sku ? prev.sku : '' %>" >
                    <br>
                    <label for="">Recomendado</label>
                    <input type="checkbox" name="recomendado" class="form_reg_alta_producto" value="<%= locals.prev && prev.recomendado ? prev.recomendado : '1' %>" >
                    <br>
                    <label for="">Tapa del Disco*</label>
                    <input type="file" name="imagen" class="file-upload">
                    
                    <h6>* Campos Requeridos</h6>
                    <div>
                        <input type="submit" value="Grabar" name="submit_alta">
                        <input type="reset" value="Borrar" name="reset_alta">
                    </div>
                    
                </form>
            </div>

        <br>
        </section>
        
    </main>

    <%- include('../partials/footer') %>
</body>
</html>