<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <script src="/js/altaProducto.js"></script>
    <main>
        <section>
            <div>
                <h2>ALTA DE PRODUCTO</h2>
                <h6>( RECUERDE! Primero debe crear Artistas/Géneros si no están en los menúes desplegables )</h6>

            </div>
            <div>
                
                <!-- En este Div mostramos errores de las validaciones del Front -->
                <div class="error_msg_form">
                </div>

                <% if (locals.errores) { %>
                    <% errores.forEach(e => { %>
                        <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= e.msg %></p>
                    <% } )%>
                <% }%>

                <% if (locals.msje && locals.type == 'S') { %>
                    <% delete locals.prev %>
                        <p class="success_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= locals.msje %></p>
                    <% } else {%>
                        <% if (locals.msje && locals.type == 'E') { %>
                            <% delete locals.prev %>
                            <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= locals.msje %></p>  
                        <% }%>
                <% }%>
                <p style="text-align: center;">
                    <button class="backButton" onclick="history.go(-1)"> Volver </button>
                </p>
                <br>
                <!-- FORMULARIO DE ALTA DE PRODUCTO-->
               <form action="/altaProducto" method="POST" enctype="multipart/form-data" class="form_reg_alta_producto" id="altaProducto"> 
                    <label for="nombreArtista">Nombre Artista*</label>
                    <select name="nombreArtista" id="nombreArtista">
                        <!-- <option disabled selected value> -- Seleccione un artista -- </option> -->
                        <option value="default"> -- Seleccione un artista -- </option>
                        <% artistas.forEach( a => { %>
                            <option value="<%= locals.prev && prev.id ? prev.id : a.id %>"><%= a.nombre_artista %></option>
                        <% } )%>
                    </select>
                    <br>
                    <label for="nombreDisco">Nombre del Disco*</label>
                    <input type="text" name="nombreDisco" id="nombreDisco" value="<%= locals.prev && prev.nombreDisco ? prev.nombreDisco : '' %>" >
                    <br>
                    <label for="">Género*</label>
                    <select name="categoria" id="categoria">
                        <option disabled selected value> -- Seleccione un género -- </option>
                        <% generos.forEach( e => { %>
                            <option value="<%= e.id%>"><%= e.titulo %></option>
                        <% } )%>
                    </select>
                    
                    <br>
                    <label for="">Precio*</label>
                    <input type="number" valueAsNumber min="0" step=".01" name="precio" id="precio" value="<%= locals.prev && prev.precio ? prev.precio : '' %>" >
                    <br>
                    <label for="">% de Descuento (si aplica)</label>
                    <input type="number" min="0" step=".01" name="oferta" id="oferta" value="<%= locals.prev && prev.oferta ? prev.oferta : '' %>" >
                    <br>
                    <label for="">Stock*</label>
                    <input type="number" min="0" name="stock" id="stock" value="<%= locals.prev && prev.stock ? prev.stock : '' %>" >
                    <br>
                    <label for="">SKU*</label>
                    <input type="text" name="sku" id="sku" value="<%= locals.prev && prev.sku ? prev.sku : '' %>" >
                    <br>
                    <label for="">Recomendado</label>
                    <input type="checkbox" name="recomendado" class="form_reg_alta_producto" value="<%= locals.prev && prev.recomendado ? prev.recomendado : '1' %>" >
                    <br>
                    <label for="">Tapa del Disco*</label>
                    <input type="file" name="imagen" id="tapaDisco" class="file-upload">
                    
                    <h6>* Campos Requeridos</h6>
                    <div>
                        <input type="submit" value="Grabar" name="submit_alta">
                        <input type="reset" value="Borrar" name="reset_alta">
                        
                        <!--    <button class="backButton" onclick="history.go(-2)"> Volver </button>-->
                        
                    </div>
                    
                </form>
            </div>

        <br>
        </section>
        
    </main>

    <%- include('../partials/footer') %>
</body>
</html>