<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <br>
    <main class="main">
        <div class="container">
            <h2 class="main-title">LISTADO DE DISCOS</h2>
            <section class="container-productos">
                <!-- lo dejamos en 6 para que se vea mejor -->
                <% for (let i=0; i< listadoDiscos.length; i++) { %>   
                    <div class="producto">
                        <a href="#"><img alt="" class="producto__img" src= <%= listadoDiscos[i].img %>></a>
                        <div class="product__decription">
                            <h3 class="product__title"><%= listadoDiscos[i].nombreDisco %> - <%= listadoDiscos[i].nombreArtista %></h3>
                            <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                        </div>
                        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
                    </div>
                 <% } %>
            </section>
        </div>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>