<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <br>
    <% if(locals.productoEncontrado != undefined) {%>
        
    <main class="producto_detalle">
        <h2 class="main-title">Detalle de Producto</h2>
        <div>
            <div class="producto--listado">
                <img alt="" class="producto___img" src= <%= '/images/' + productoEncontrado.img %>>
                
                <div class="product__decription">
                    <br>
                    <!--
                    <label for="nombreDisco">Nombre Disco:</label>
                    <h3 class="product___title_detalle"><input type="text" name="nombreDisco" value="<%= productoEncontrado.nombre_disco %>" placeholder="Nombre Disco"></h3>
                     <h3 class="product___title"><input type="text" name="nombreDisco" value="<%= productoEncontrado.nombre_disco %>" placeholder="Nombre Disco"></h3></h3> 

                    <label for="nombreAtista"> Nombre Artista / Grupo:</label>
                    <h3 class="product___title"><input type="text" name="nombreArtista" value="<%= productoEncontrado.artista.nombre_artista %>" placeholder="Nombre Artista" disabled="disabled"></h3>
                    <label for="precio">Precio: $</label>
                    <h3 class="product___title"><input type="text" name="precio" value="<%= productoEncontrado.precio %>" placeholder="Precio"></h3>
                    
                    <label for="oferta">Oferta: % Off</label>
                    <h3 class="product___title"><input type="text" name="oferta" value="<%= productoEncontrado.oferta %>" placeholder="Oferta"></h3>
                    
                    <label for="stock">Stock: </label>
                    <h3 class="product___title"><input type="text" name="stock" value="<%= productoEncontrado.stock %>" placeholder="Stock"></h3>
                    
                    <% if (productoEncontrado.recomendado == 1) { %>
                        <label for="recomendado">Recomendado?: <h3 class="product___title"><input type="checkbox" name="recomendado" checked></h3></label>
                    <% } else { %>
                        <label for="recomendado">Recomendado?: <h3 class="product___title"><input type="checkbox" name="recomendado"></h3></label>
                    <% } %>
                    -->
                    
                    <h3><%= productoEncontrado.nombre_disco %></h3>
                    <p class="product__description_detalle"><%= productoEncontrado.artista.nombre_artista %></p>
                    <p style="font-weight: bold;">$<%= productoEncontrado.precio %></p>
                    <% if (productoEncontrado.oferta > 0) { %>
                        <p class="producto__detalle_campo_oferta"><i class="fa-solid fa-bell"></i></i> - <%= productoEncontrado.oferta %>% Off</p>
                
                    <% } %>
                    <p>Género: <%= productoEncontrado.genero.titulo %></p>
                    <p>SKU: <%= productoEncontrado.sku %></p>

                    <% if (productoEncontrado.recomendado == 1) { %>
                        <span class="producto__fav"><i class="fa-solid fa-star"></i></span> - Disco Recomendado!
                
                    <% } %>

                    <% if (productoEncontrado.stock > 0) { %>
                        <p class="producto__stock_ok"> <i class="fa-solid fa-thumbs-up"></i> - Stock Disponible!</p>
                        <!-- <p><input type="number" class="producto__detalle_campo_cantidad" value="1"> <input type="submit" value="Comprar" class="producto__detalle_boton_comprar" onclick=""></p> -->
                        
                        <form action="/agregarACarrito/<%= productoEncontrado.id%>" method="POST">
                            <p><input type="number" class="comprarItem" name='cantidad' value="1"> <input type="submit" value="Comprar" class="comprarItemButton" onclick=""></p>
                        </form>

                    <% } else { %>
                        <p class="producto__stock_soldout"> <i class="fa-sharp fa-solid fa-thumbs-down"></i> - Agotado!</p>
                    <% } %>
                    
                    <i class="fa-solid fa-bell-on"></i>
                    <p style="text-align: center;">
                     <button class="backButton" onclick="history.go(-1)"> Volver </button>
                    </p>      

                </div>

            </div>


            <!-- <div class="producto_img">
            <img src=<%= locals.productoEncontrado.img %> alt="vinilo"></div>

            <div class="detalle_p">
                <div class="producto_titulo">
                    <h3><%= locals.productoEncontrado.artista.nombre_artista %> <br>
                        <h4><%= locals.productoEncontrado.nombre_disco %></h4>
                    </h3>
                </div>  
                <div class="producto_genero">
                    <h4>Genero: <%= locals.productoEncontrado.genero.titulo %></h4>
                    Stock: <%= locals.productoEncontrado.stock %> u.
                <div class="producto_comprar">
                    <div class="precio">
                        <sup> Precio: $<%= locals.productoEncontrado.precio %>
                        </sup>
                    </div>
                    <div class="product_boton">
                        <a class="comprar" href="·">Comprar</a>
                    </div>
                </div>
            </div>  -->
        </div>
    </main>
    <% } %>
    <br>

    <%- include('../partials/footer') %>

</body>
</html>