<%- include('../partials/head') %>
<body class="productodetalle">
    <%- include('../partials/header') %>
    <br>
    <main>
        <!-- <main class="producto_detalle"></main>--> 
        <h2>Listado de Discos Vinilos</h2>
        <br>
        <div class="producto_box_ecv">
        <% for (let i=0; i< listadoDiscos.length; i++) {%>
            <div class="producto_card_ecv">
                    <img src= <%= listadoDiscos[i].img %> alt="vinilo" class="producto_img_ecv">
                
                        <p class="listadoDiscos-informacion"><%= listadoDiscos[i].nombreArtista %></p>
                        <p class="listadoDiscos-informacion"><%= listadoDiscos[i].nombreDisco %></p>    
                        <p class="listadoDiscos-informacion">Categoría: <%= listadoDiscos[i].categoria %></p> 
                        <p class="listadoDiscos-informacion">SKU: <%= listadoDiscos[i].sku %></p>     
                        <p class="listadoDiscos-informacion">Cantidad: <%= listadoDiscos[i].stock %></p>    
                        <p class="listadoDiscos-informacion">Precio: $<%= listadoDiscos[i].precio %></p>    
                        <p class="listadoDiscos-informacion"><a href="·">Comprar</a></p>
            </div>
        <%}%>
        </div>
    </main>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>