<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <br>
    <% if(locals.productoEncontrado != undefined) {%>
        
    <main class="producto_detalle">
        <div class="producto_box">
            <div class="producto_img">
            <img src=<%= locals.productoEncontrado.img %> alt="vinilo"></div>

            <div class="detalle_p">
                <div class="producto_titulo">
                    <h3><%= locals.productoEncontrado.nombreArtista %> <br>
                        <h6><%= locals.productoEncontrado.nombreDisco %></h6>
                    </h3>
                </div>
                <div class="producto_descripcion">
                    <h4>Descripción</h4>
                    <p>Artistas...</p>
                </div>
                <div class="producto_genero">
                    <h4><%= locals.productoEncontrado.categoria %></h4>
                <div class="producto_comprar">
                    <div class="precio">
                        <sup>$ <%= locals.productoEncontrado.precio %></sup>
                    </div>
                    <div class="product_boton">
                        <a href="·">Comprar</a>
                    </div>
                </div>
            </div> 
        </div>
    </main>
    <% } %>
    <br>

    <%- include('../partials/footer') %>

</body>
</html>