<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <div> 
            <h2 class="main-title">Modificación de Productos</h2>
            
            
            <% if (locals.errores) { %>
                <% errores.forEach( e => { %> 
                    <p class="error_msg_form"><i class="fa-solid fa-triangle-exclamation"></i> - <%= e.msg %></p>
                <% }) %>
                
            <% } %>
            
            <% if (locals.msje) { %>
                <p class="notification_msg_form"><i class="fa-solid fa-bell"></i> - <%= locals.msje %></p>
            <% }%>

            <p style="text-align: center;">
                <button class="backButton" onclick="history.go(-1)"> Volver </button>
            </p>
            <br>
            <section class="container-modificacion"> 
 
                <% for (let i=0; i< listadoDiscos.length; i++) { %>
                    <form action="/modificarProducto/<%= listadoDiscos[i].id%>" method="POST">   
                    <div class="producto--listado">
                        <img alt="" class="producto___img" src= <%= '/images/' + listadoDiscos[i].img %>>
                        <div class="product__decription">
                            <br>
                            <label for="nombreDisco">Nombre Disco:</label>
                            <h3 class="product___title"><input type="text" name="nombreDisco" value="<%= listadoDiscos[i].nombre_disco %>" placeholder="Nombre Disco" disabled="disabled"></h3>
                            <label for="nombreAtista"> Nombre Artista / Grupo:</label>
                            <h3 class="product___title"><input type="text" name="nombreArtista" value="<%= listadoDiscos[i].artista.nombre_artista %>" placeholder="Nombre Artista" disabled="disabled"></h3>
                            <label for="genero">Género</label>
                            <h3 class="product___title"><input type="text" name="genero" value="<%= listadoDiscos[i].genero.titulo %>" placeholder="Genero Musical" disabled="disabled"></h3>
                            <label for="precio">Precio: $</label>
                            <h3 class="product___title"><input type="number" step=".01" name="precio" value="<%= listadoDiscos[i].precio %>" placeholder="Precio"></h3>
                            
                            <label for="oferta">Oferta: % Off</label>
                            <h3 class="product___title"><input type="number" step=".01" name="oferta" value="<%= listadoDiscos[i].oferta %>" placeholder="Oferta"></h3>
                            
                            <label for="stock">Stock: </label>
                            <h3 class="product___title"><input type="number" name="stock" value="<%= listadoDiscos[i].stock %>" placeholder="Stock"></h3>
                            
                            <label for="recomendado">Recomendado?: </label>
                            
                            <% if (listadoDiscos[i].recomendado == 1) { %>
                                <h3 class="product___title"><input type="checkbox" name="favorito" checked></h3>
                            <% } else { %>
                                <h3 class="product___title"><input type="checkbox" name="favorito"></h3>
                            <% } %>

                        </div>
                        <p></p>
                        <div class="product__decription">
                            <input type="submit" class="producto__price" value="Modificar">
                            <!-- <span class="producto__price"><a href="/modificarProducto/<%= listadoDiscos[i].id%>">Modificar</a></span> -->
                            <a href="/borrarProducto/<%= listadoDiscos[i].id%>"><input type="button" value="Borrar" class="producto__price"></a>
                        </div>
                        
                        <br>
                    </div>
                    </form>
                    <br>
                 <% } %>
            </section>
        
         </div> 
        
    </main>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>