<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <div> 
            <h2 class="main-title">Modificación de Productos</h2>
            <% if (locals.msje) { %>
                <p class="notification_msg_form"><i class="fa-solid fa-bell"></i> - <%= locals.msje %></p>
           <% }%>
            <section class="container-modificacion"> 
 
                <% for (let i=0; i< listadoDiscos.length; i++) { %>
                    <form action="">   
                    <div class="producto--listado">
                        <img alt="" class="producto___img" src= <%= listadoDiscos[i].img %>>
                        <div class="product__decription">
                            <br>
                            <label for="nombreDisco">Nombre Disco:</label>
                            <h3 class="product___title"><input type="text" name="nombreDisco" value="<%= listadoDiscos[i].nombre_disco %>" placeholder="Nombre Disco"></h3>
                            <label for="nombreAtista"> Nombre Artista / Grupo:</label>
                            <h3 class="product___title"><input type="text" name="nombreArtista" value="<%= listadoDiscos[i].artista.nombre_artista %>" placeholder="Nombre Artista"></h3>
                            <label for="precio">Precio: $</label>
                            <h3 class="product___title"><input type="text" name="precio" value="<%= listadoDiscos[i].precio %>" placeholder="Precio"></h3>
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i>
                                    Tapa Disco
                            </label>
                            <!-- <h3 class="product___title"><input id="file-upload" type="file" name="img" value="<%= listadoDiscos[i].img %>" ></h3> -->
                        </div>
                        <p></p>
                        <div class="product__decription">
                            <span class="producto__price"><a href="/modificarProducto/<%= listadoDiscos[i].id%>">Modificar</a></span>
                            <span class="producto__price"><a href="/borrarProducto/<%= listadoDiscos[i].id%>">Borrar</a></span>
                        </div>
                        
                        <br>
                    </div>
                    </form>
                    <br>
                 <% } %>
            </section>
        
         </div> 
        
    </main>
    <br>
    <%- include('../partials/footer') %>
</body>
</html>