<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br>
    <main> 
        <h2>Carrito de compras</h2>
    <br>
    <table class="tabla-carrito" cellspacing="10" cellpadding="20">
        <tr>
          <th class="celda-primera-carrito "><img src="/images/abba_gold.jpg" alt=""></th>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Descuento</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          
        </tr>
        <% if (locals.carrito) { %> 
          
          <% for (let i=0; i<locals.carrito.length; i++) { %>
            <tr>
              <td><a href="/removeItemCarrito/<%= locals.carrito[i].id %>"><i class="fa-solid fa-xmark" style="color: red"></i></td></a>
              <td class="ancho-celda-carrito"><img src="<%= '/images/' + locals.carrito[i].img%>" class="producto__img__encarrito"></td>
              <td><%= locals.carrito[i].nombre_disco%> - <%= locals.carrito[i].artista.nombre_artista %></td>
              <td>$ <%= locals.carrito[i].precio %></td>
              <% if (locals.carrito[i].oferta) { %>
              <td>% <%= locals.carrito[i].oferta %></td>
              <% } else { %>
                <td>% 0</td>
              <% } %>
              <td><%= locals.carrito[i].cantidad %></td>
              <td>$ <%= locals.carrito[i].subtotal %></td>
            </tr>
            <% } %>
          <% } %>

      </table>
      <br>
      <br>
      <div class="subtotal-carrito">
        <% if (locals.carrito) { %>
            <% let subtotal = 0 %>
            <% let totalItems = 0 %>
            <% locals.carrito.forEach(e => {
              subtotal = subtotal + e.subtotal;
              totalItems = totalItems + e.cantidad
              } )%>
            <h3>Total Items en el Carrito: <%= totalItems %> </h3>
            <h3>Subtotal de la compra: $ <%= subtotal %></h3>
            <% } else { %>
            <h3>Total Items en el Carrito: 0 </h3>
            <% let subtotal = 0 %>
            <h3>Subtotal de la compra: $ <%= subtotal.toFixed(2) %></h3>
        <% } %>
        
        
      </div>
      <div class="button-div-carrito">
        <button type="submit" class="button-carrito">Finalizar la Compra</button>
        <button type="submit" class="button-carrito" onclick="location.href = '/productos'">Seguir Comprando</button>
      </div>
    </main>
<br>
<%- include('./partials/footer') %>
</body>
</html>