<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br>
<div class="container-home">
    <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="./images/logo.JPG" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">OFERTAS/h2>
                        <p class="slider__text">Compra con descuentos de hasta el 50%!</p>
                        <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                    </div>
            </div>
            <div class="slider__section">
                <img src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">DESTACADOS</h2>
                    <p class="slider__text">Explora y llevate lo mas buscado en la actualidad</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>  
            <div class="slider__section">
                <img src="./images/71tVF6HDV5L._SY355_.jpg" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">NOVEDADES</h2>
                    <p class="slider__text">Descubrí lo último de la musica!</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>  
            <div class="slider__section">
                <img src="./images/51wGtpZw05L._UX250_FMwebp_QL85_.webp" alt="" class="slider__img">
                <div class="slider__content">
                    <h2 class="slider__title">OFERTAS</h2>
                    <p class="slider__text">Compra con descuentos de hasta el 50%!</p>
                    <a href="" class="slider_section_btn">COMPRA AQUI!</a>
                </div>
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
    </div>
</div>

<main class="main">
        <h2 class="main-title">TE RECOMENDAMOS</h2>
        <section class="container-productos">
            <% for (let i=0; i< 6; i++) { %>   
                <div class="producto-listado">
                    <a href="./products/productoDetalle.ejs"><img alt="" class="producto__img" src= <%= listadoDiscos[i].img %>></a>
                    <div class="product__decription">
                        <h3 class="product__title"><%= listadoDiscos[i].nombreDisco %> - <%= listadoDiscos[i].nombreArtista %></h3>
                        <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-arrow-down"></i>
                </div>
            <% } %>
        </section>
    </div>
<br>
<br>
    <div class="container">
    <h2 class="main-title">LOS MAS VENDIDOS</h2>
    <section class="container-productos">

        <% for (let i=0; i<6; i++) { %>
       <div class="producto-listado">
        <a href="#"><img src=<%= listadoDiscos[i].img %> alt="" class="producto__img"></a>
        <div class="product__decription">
            <h3 class="product__title"><%= listadoDiscos[i].nombreDisco %> - <%= listadoDiscos[i].nombreArtista %></h3>
            <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
        </div>
        <i class="product__icon fa-solid fa-cart-arrow-down"></i>
       </div>
       <% } %>
    </section>

    <h2 class="main-title">OFERTAS</h2>
    <section class="container-productos">
        <% for (let i=0; i< 6; i++) { %>   
            <div class="producto">
                <a href="./products/productoDetalle.ejs"><img alt="" class="producto__img" src= <%= listadoDiscos[i].img %>></a>
                <div class="product__decription">
                    <h3 class="product__title"><%= listadoDiscos[i].nombreDisco %> - <%= listadoDiscos[i].nombreArtista %></h3>
                    <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                </div>
                <i class="product__icon fa-solid fa-cart-arrow-down"></i>
            </div>
        <% } %>
    </section>
</div>
</main>

<br>
<%- include('./partials/footer') %>

<script src="../../public/js/scripts.js"></script>
<!--
const slider = document.querySelector("#slider");
let sliderSection = document.querySelectorAll(".slider__section");
let sliderSectionLast = sliderSection[sliderSection.length -1];

const btnLeft = document.querySelector("#btn-left");
const btnRight = document.querySelector("#btn-right");

slider.insertAdjacentElement('afterbegin', sliderSectionLast);

function Next() {
    let sliderSectionFirst = document.querySelectorAll(".slider__section")[0]
    slider.style.marginLeft = "-200%"
    slider.style.transition = "all 0.5s"
    setTimeout(function(){
        slider.style.transition = "none"
        slider.insertAdjacentElement('beforeend', sliderSectionFirst)
        slider.style.marginLeft = "-100%"
    }, 500);
}
function Prev() {
    let sliderSection = document.querySelectorAll(".slider__section");
    let sliderSectionLast = sliderSection[sliderSection.length -1];
    slider.style.marginLeft = "0"
    slider.style.transition = "all 0.5s"
    setTimeout(function(){
        slider.style.transition = "none"
        slider.insertAdjacentElement('afterbegin', sliderSectionLast);
        slider.style.marginLeft = "-100%"
    }, 500);
}

btnRight.addEventListener('click', function(){
    Next();
});

btnLeft.addEventListener('click', function(){
    Prev();
});

setInterval(function(){
    Next();
}, 5000); 
</script>-->
</body>
</html>