<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <br>
    <div class="container-home">
        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="/images/prueba2.jpeg" alt="aaaaa" class="slider__img"> 
                    <div class="slider__content">
                        <h2 class="slider__title">TRIESTE RECORDS</h2>
                        <p class="slider__text">Una Tienda de Discos Vinilos de Calidad</p>
                        <a href="/productos" class="slider_section_btn">COMPRA AQUI!</a>
                    </div>
                </div>
                 
                <div class="slider__section">
                    <img src="./images/3.jpeg" alt="" class="slider__img"> 
                    <div class="slider__content">
                        <h2 class="slider__title">NOVEDADES</h2>
                        <p class="slider__text">Traemos lo último de la música!</p>
                        <!-- <a href="/productos" class="slider_section_btn">Nuestros Productos</a> -->
                    </div>
                </div>
                <div class="slider__section">
                    <img src="/images/turntable.jpg" alt="aaaaa" class="slider__img"> 
                    <div class="slider__content">
                        <h2 class="slider__title">RECOMENDADOS</h2>
                        <p class="slider__text">Explora y llevate lo mas buscado en la actualidad</p>
                        <a href="#recomendados" class="slider_section_btn">COMPRA AQUI!</a>
                    </div>
                </div>  
                <div class="slider__section">
                    <img src="./images/buddyguy.jpeg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">OFERTAS</h2>
                        <p class="slider__text">Compra con descuentos de hasta el 50%!</p>
                        <a href="/ofertas" class="slider_section_btn">COMPRA AQUI!</a>
                    </div>
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
        </div>
    </div>

    <main class="main">
            <h2 class="main-title" id="recomendados">TE RECOMENDAMOS...</h2>

            <!-- <% if (locals.session ) { %>
                <p><%= locals.session %></p>

            <% } %>
            <% if (locals.carrito.length > 0) { %>
                <p><%= locals.carrito %></p>
            <% } %> -->
            <section class="container-productos">
                <% for (let i=0; i< listadoDiscos.length; i++) { %>
                    <% if (listadoDiscos[i].recomendado) { %>   
                    <div class="producto-listado">
                        <a href="/productoDetalle/<%= listadoDiscos[i].id%>"><img alt="" class="producto__img" src= <%= '/images/' + listadoDiscos[i].img %>></a>
                        <div class="product__decription">
                            <h3 class="product__title"><%= listadoDiscos[i].nombre_disco %> - <%= listadoDiscos[i].artista.nombre_artista %></h3>
                            <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                            <p></p>
                            <p></p>
                            <span class="producto__price">Género: <%= listadoDiscos[i].genero.titulo %></span>
                            <p></p>
                            <span class="producto__price">Stock: <%= listadoDiscos[i].stock %> u.</span>
                            <p></p> 
                            <span class="producto__fav"><i class="fa-solid fa-star"></i></span>
                            <p></p>
                        </div>
                        <% if ( listadoDiscos[i].stock > 0 ) { %>
                            <a href="/agregarACarrito/<%= listadoDiscos[i].id%>"><i class=" fa-solid fa-cart-arrow-down"></i></a>
                        <% } %>
                        
                    </div>
                    <% } %>
                <% } %>
            </section>
        </div>
    <br>
    <br>
        <div class="container">
        <h2 class="main-title">TOP 5 MAS VENDIDOS</h2>
        <section class="container-productos">

            <% for (let i=0; i<listadoDiscos.length; i++) { %>
            <div class="producto-listado">
            <a href="/productoDetalle/<%= listadoDiscos[i].id%>"><img src=<%= '/images/' + listadoDiscos[i].img %> alt="" class="producto__img"></a>
            <div class="product__decription">
                <h3 class="product__title"><%= listadoDiscos[i].nombre_disco %> - <%= listadoDiscos[i].artista.nombre_artista %></h3>
                <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                <p></p>
                <span class="producto__price">Género: <%= listadoDiscos[i].genero.titulo %></span>
                <p></p>
                <span class="producto__price">Stock: <%= listadoDiscos[i].stock %> u.</span>
                <p></p>
                <% if (listadoDiscos[i].recomendado) { %>
                    <span class="producto__fav"><i class="fa-solid fa-star"></i></span>
                <% } %>
            </div>
            <br>
            <% if ( listadoDiscos[i].stock > 0 ) { %>
                <a href="/agregarACarrito/<%= listadoDiscos[i].id%>"><i class=" fa-solid fa-cart-arrow-down"></i></a>
            <% } %>
        </div>
        <% } %>
        </section>
        <br>
        <br>
        <!-- <h2 class="main-title">OFERTAS</h2>
        <section class="container-productos">
            <% for (let i=0; i< listadoDiscos.length; i++) { %>   
                <% if (listadoDiscos[i].oferta > 0) { %>
                <div class="producto">
                    <a href="/productoDetalle/<%= listadoDiscos[i].id%>"><img alt="" class="producto__img" src= <%= '/images/' + listadoDiscos[i].img %>></a>
                    <div class="product__decription">
                        <h3 class="product__title"><%= listadoDiscos[i].nombre_disco %> - <%= listadoDiscos[i].artista.nombre_artista %></h3>
                        <span class="producto__price">Precio: $<%= listadoDiscos[i].precio %></span>
                        <p></p>
                        <span class="producto__price">Género: <%= listadoDiscos[i].genero.titulo %></span>
                        <p></p>
                        <span class="producto__price">Stock: <%= listadoDiscos[i].stock %></span>
                        <p></p>
                        <% if (listadoDiscos[i].recomendado) { %>
                            <span class="producto__fav"><i class="fa-solid fa-star"></i></span>
                        <% } %>
                    </div>
                    <br>
                    <% if ( listadoDiscos[i].stock > 0 ) { %>
                        <a href="/agregarACarrito/<%= listadoDiscos[i].id%>"><i class=" fa-solid fa-cart-arrow-down"></i></a>
                    <% } %>
                </div>
                <% } %>
            <% } %>
        </section> -->
    </div>
    </main>

<br>
<%- include('./partials/footer') %>

<!-- <script src="../../public/js/scripts.js"></script> -->

<script>
const slider = document.querySelector("#slider");
let sliderSection = document.querySelectorAll(".slider__section");
let sliderSectionLast = sliderSection[sliderSection.length -1];

const btnLeft = document.querySelector("#btn-left");
const btnRight = document.querySelector("#btn-right");

slider.insertAdjacentElement('afterbegin', sliderSectionLast);

function Next() {
    let sliderSectionFirst = document.querySelectorAll(".slider__section")[0]
    slider.style.marginLeft = "-200%"
    slider.style.transition = "all 0.5s"
    setTimeout(function(){
        slider.style.transition = "none"
        slider.insertAdjacentElement('beforeend', sliderSectionFirst)
        slider.style.marginLeft = "-100%"
    }, 500);
}
function Prev() {
    let sliderSection = document.querySelectorAll(".slider__section");
    let sliderSectionLast = sliderSection[sliderSection.length -1];
    slider.style.marginLeft = "0"
    slider.style.transition = "all 0.5s"
    setTimeout(function(){
        slider.style.transition = "none"
        slider.insertAdjacentElement('afterbegin', sliderSectionLast);
        slider.style.marginLeft = "-100%"
    }, 500);
}

btnRight.addEventListener('click', function(){
    Next();
});

btnLeft.addEventListener('click', function(){
    Prev();
});

setInterval(function(){
    Next();
}, 5000); 
</script>
</body>
</html>