<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div>
                <h2>MI CUENTA</h2><img src="./images/music_icon.png" id="disco" alt="music_icon">
            </div>
            <div>
                <br>
                <% if (locals.errores) { %>
                    <% errores.forEach(e => { %>
                        <p><i class="fa-solid fa-triangle-exclamation"></i> - <%= e.msg %></p>
                    <% } )%>
                <% }%>
                <% if (locals.msje) { %>
                     <%= locals.msje %></p>
                <% }%>

                <form action="/registro" method="POST" class="form_reg">
                    <label for="usuario_reg">Usuario*</label>
                    <input type="text" name="usuario_reg" value="<%= locals.prev && prev.usuario_reg ? prev.usuario_reg: '' %>" required>
                    <br>
                    <label for="">Direcci칩n de correo electr칩nico*</label>
                    <input type="email" name="email_reg" value="<%= locals.prev && prev.email_reg ? prev.email_reg: '' %>" required>
                    <br>
                    <label for="">Nombre*</label>
                    <input type="text" name="nombre_reg" value="<%= locals.prev && prev.nombre_reg ? prev.nombre_reg : '' %>" required>
                    <br>
                    <label for="">Apellido*</label>
                    <input type="text" name="apellido_reg" value="<%= locals.prev && prev.apellido_reg ? prev.apellido_reg: '' %>" required>
                    <br>
                    <label for="pwd_reg">Contrase침a</label>
                    <input type="password" name="pwd_reg" id="pwd_reg" required> 
                    <br>
                    <label for="pwdrepeat">Repita su Contrase침a</label>
                    <input type="password" name="pwdrepeat" id="pwdrepeat" required> 
                    <br>
                    <div>
                    <input type="checkbox" name="newsletter" value="<%= locals.prev && prev.newsletter ? prev.newsletter: '' %>"> <label> Suscribite a nuestra newsletter para recibir novedades</label>
                    <h6>* - Campos Requeridos</h6>
                    </div>
                    <br>
                    <div>
                        <input type="submit" value="Enviar" name="submit_reg">
                        <input type="reset" value="Borrar" name="reset_reg">
                    </div>
                </form>
            </div>

        <br>
        </section>
        
    </main>

    <%- include('../partials/footer') %>
</body>
</html>